.App {
  /* text-align: center; */
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #afd4c0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header-panel {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  background-color: #519872;
  position: sticky;
  top: 0;
}

.header-panel-1 {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.header-panel-2 {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}

.header-panel-1 img {
  width: 100px;
}

.dashboard-panel {
  width: 70%;
  height: auto;
  min-height: calc(100vh - 75px);
  background-color: #e5f4ec;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.houses-panel {
  border-top: 1px solid black;
  padding-left: 5px;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 4%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a h1 {
  color: white;
  font-size: 44px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-text {
  font-size: 2.5em;
  font-family: Arial;
}

.btn,
a btn {
  margin: 20px;
  background-color: #8aea92;
  width: auto;
  min-width: 5em;
  height: 30px;
  /* border-radius: 0.5em; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font: 400 13px Arial; */
  font-size: 24px;
  align-content: center;
  border-radius: 0.2em;
  padding: 4px;
}
.house-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2% 2%;
  margin: 2%;
  background-color: #dedede;
  height: 100%;
  /* width: 85%; */
}

.house-img {
  width: 30%;
  height: 100%;
  padding: 5px;
}

.house-img img {
  width: 100%;
  height: 100%;
}

.house-rental p {
  margin: 0%;
  padding: 0%;
  height: auto;
}

.house-detail,
.house-rental {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  padding-left: 20px;
}

.house-rental {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: 100%;
  width: 25%;
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.house-detail p {
  font-size: 24px;
  height: auto;
  margin: 0%;
}

.house-block .btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: auto;
}

.add-house-panel {
  display: flex;
  justify-content: center;
}

.wizard-panel {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.wizard-panel a,
.wizard-panel h1 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
}

.wizard-panel h1 {
  justify-content: flex-start;
}

.btn-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.create-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  min-height: 40vh;
}

.input-box {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 50px;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.city-state-zip {
  width: 80%;
  display: flex;
  justify-content: space-around;
  /* margin: 0px 5vw; */
}

label {
  font-size: 1.5em;
  font-weight: 700;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 0;
}
input {
  height: 1.5em;
  width: auto;
  padding: 0.2em;
  font-size: 1em;
  /* text-transform: uppercase; */
}
.input-box input {
  width: 80%;
}
.submit-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0%;
}

.btn-delete {
  width: 1em;
  min-width: 0px;
  height: auto;
  background-color: transparent;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: red;
}

.btn:hover {
  background-color: #466649;
  cursor: pointer;
}
.btn-delete:hover {
  color: yellow;
  font-size: 1em;
  border: none;
}

.review-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 100%;
  background-color: #afd4c0;
  border-radius: 0.4em;
  padding: 1%;
}

.review-box-c1 {
  display: flex;
  background-color: #afd4c0;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  min-height: 40vh;
}

.review-box-c2 {
  width: 50%;
  display: flex;
}

.review-box-l1 {
  display: flex;
  justify-content: flex-start;
  height: auto;
  /* min-height: 5vh; */
  width: 100%;
  font-size: 24px;
  align-content: center;
  padding: 0.2em;
  min-height: 2em;
}

.label-text {
  display: inline;
  justify-content: flex-start;
  font: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  min-width: 40%;
}

.review-box-l2 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.review-box-l21 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  min-width: 30%;
  /* height: 200%; */
}

.address-display {
  /* max-height: 2.5vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
